<html lang="en">
  <head>
    <title>index</title>
    {{>header}}
  </head>
  <body>
    <div class="box">
      {{>navbar}}
      <h1 style="text-align: center;">welcome</h1>
      {{>footer}}
    </div>
  </body>
</html>